<div class='row'>
  <div class='col-auto'>
    <h2 class='text-center'>Welcome, {{name}}!</h2>

  </div>
</div>
{{#if libraries.length}}
  <h2 class='text-center'>Your Personal Library:</h2>
  <div class='col-md-6 library-list'>
    {{#each libraries as |library|}}
      <div class='row mb-2'>
        <div class='col-md-8'>
          <h4>{{library.name}}</h4>
        </div>
        <p style='white-space: pre-line'>{{library.story}}</p>
        <div class='col-md-4'>
          <button
            class='btn btn-sm btn-danger'
            data-id='{{library.id}}'
          >DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h2 class='text-center'>You need to work on your personal library! Create a
    room, invite your friends, and save the story once you finish!</h2>
{{/if}}

<script src='./js/profile.js'></script>